# Ignore node_modules in both frontend and backend
star_war_frontend/node_modules/
star_wars_backend/node_modules/

# Ignore build directories
star_war_frontend/build/
star_wars_backend/build/

# Ignore environment files
star_war_frontend/.env
star_wars_backend/.env

# Miscellaneous
.DS_Store

.env
.env.*